# Logs & Environment
*.log
.env

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.parquet
data/